.header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 30px;
  color: white;
  overflow-x: scroll;
}

.header__icons {
  display: flex;
  align-items: center;
  /* flex: 0.5; */
  justify-content: space-around;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.header::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.header {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.header__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  margin-right: 50px;
}

.header__icon > p {
  font-size: small;
  text-transform: uppercase;
}
.header__icon > .MuiSvgIcon-root {
  font-size: 40px !important;
  align-self: center !important;
  margin: 0 auto !important;
}

.header__title > h1 {
  font-size: 45px;
}

.header__active {
  display: none;
}

.header__icon:hover .header__active {
  display: inline;
}
